<ion-header>
  <ion-toolbar>
    <ion-title>Saved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p class = "center">Once you save some homes, they'll appear here.</p>
    <div class="center">
        <ion-button (click)="explore()">Find Homes</ion-button>
    </div>
    <ion-list>
        <ion-item><a href="explore">Explore</a></ion-item>
        <ion-item><a href="saved">Saved</a></ion-item>
        <ion-item><a href="trips">Trips</a></ion-item>
        <ion-item><a href="inbox">Inbox</a></ion-item>
        <ion-item><a href="profile">Profile</a></ion-item>
      </ion-list>
  </div>
</ion-content>
