<ion-header>
    <ion-toolbar>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
        <h2 class="center">Hi, I'm Ava</h2>
        <ion-avatar class="avatar">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <h3 class="center">Bio</h3>
        <p class="center">Hi! I'm Ava and I love puppies, travelling, food, and Netflix.</p>
        <h3 class="center">Contact Information</h3>
        <ion-list>
          <ion-item>
            <ion-label>Email</ion-label>
            apoorva.thumma79@gmail.com
          </ion-item>
          <ion-item>
            <ion-label>Phone Number</ion-label>
            +1 (703) 939-5982
          </ion-item>
        </ion-list>
        <h3 class="center">2 reviews</h3>
        <ion-list>
          <ion-item>
            January, 2019
            <br>
            good renter
          </ion-item>
          <ion-item>
              October, 2018
              <br>
              clean and respectful
          </ion-item>
        </ion-list>
        <p class="center">10 bookings made</p>
        
        <ion-list>
            <ion-item><a href="explore">Explore</a></ion-item>
            <ion-item><a href="saved">Saved</a></ion-item>
            <ion-item><a href="trips">Trips</a></ion-item>
            <ion-item><a href="inbox">Inbox</a></ion-item>
            <ion-item><a href="profile">Profile</a></ion-item>
          </ion-list>
    </div>
  </ion-content>