<ion-header>
    <ion-toolbar>
      <ion-title>Details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
      <h2 class="center">Back To Libson Hostel</h2>
      <ion-list>
        <ion-item>
          <ion-label>
            Location
          </ion-label>
          Libson, Portugal
        </ion-item>
        <ion-item>
            <ion-label>
              Address
            </ion-label>
            Rue de Santa Amaro 34, Lisboa
        </ion-item>
        <ion-item>
            <ion-label>
              Price
            </ion-label>
            30 Euros / night
        </ion-item>
      </ion-list>
      <ion-list>         
        <ion-item><a href="explore">Explore</a></ion-item>
        <ion-item><a href="saved">Saved</a></ion-item>
        <ion-item><a href="trips">Trips</a></ion-item>
        <ion-item><a href="inbox">Inbox</a></ion-item>
        <ion-item><a href="profile">Profile</a></ion-item>
      </ion-list>
    </div>
  </ion-content>
  